.visible {
  visibility: visible; }

.hidden {
  visibility: hidden; }

.position-shown {
  left: 0rem; }

.position-hidden {
  left: -3rem; }

@keyframes left-entrance {
  0% {
    right: -140px; }
  75% {
    right: 7px; }
  100% {
    right: -20px; } }

@keyframes right-entrance {
  0% {
    left: -19rem; }
  100% {
    left: -3rem; } }

.header-section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  transition: all 1s;
  left: 0;
  top: 0;
  font-size: 2rem; }

.connect {
  width: 18rem;
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: right-entrance .9s 2s backwards;
  transition: all .4s; }
  .connect-list {
    list-style: none; }
    .connect-list__btn {
      width: 16rem;
      text-align: center;
      display: inline-block;
      font-size: 2rem;
      align-self: flex-start; }
    .connect-list__link:link, .connect-list__link:visited {
      color: #8b0000; }
    .connect-list__icon {
      font-size: 2.85rem;
      transition: all .2s; }
      .connect-list__icon:hover {
        transform: translateX(10px) scale(1.3); }
        .connect-list__icon:hover.fa-facebook-square {
          color: #3b5998; }
        .connect-list__icon:hover.fa-twitter-square {
          color: #1da1f2; }
        .connect-list__icon:hover.fa-linkedin {
          color: #0a66c2; }
        .connect-list__icon:hover.fa-github-square {
          color: #777; }
        .connect-list__icon:hover.fa-instagram-square {
          color: #c32aa3; }
      .connect-list__icon:active {
        transform: translateX(8px) scale(1.3); }

.btn {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transform: translateY(-50%);
  right: -20px;
  transition: all .3s;
  padding: 5px 25px 5px 10px; }
  .btn .arrow {
    position: relative; }
    .btn .arrow::before, .btn .arrow::after {
      display: inline-block;
      content: '';
      width: 17px;
      border-top: 3px solid #8b0000;
      position: absolute;
      left: 5px; }
    .btn .arrow::before {
      transform: rotate(45deg);
      top: 40%; }
    .btn .arrow::after {
      transform: rotate(-45deg);
      bottom: 24%; }
  .btn:hover {
    right: -1px;
    color: #fff;
    background-color: #8b0000; }
    .btn:hover .arrow::after, .btn:hover .arrow::before {
      border-top: 3px solid #fff; }
  .btn--project {
    top: 25%;
    animation: left-entrance 0.9s cubic-bezier(0.49, 0.45, 0.63, 1.39) 1.1s backwards; }
  .btn--about {
    top: 50%;
    animation: left-entrance 0.9s cubic-bezier(0.49, 0.45, 0.63, 1.39) 1.1s backwards; }
  .btn--skills {
    top: 75%;
    animation: left-entrance 0.9s cubic-bezier(0.49, 0.45, 0.63, 1.39) 1.1s backwards; }

.section-projects {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  transition: all 1s;
  top: 0;
  left: 100vw;
  background-color: #8b0000; }

.projects {
  position: absolute;
  bottom: 0;
  height: 70vh;
  width: 100vw; }
  .projects__card {
    display: inline-block;
    border-radius: 8px;
    height: 16rem;
    width: 22rem;
    margin: 5px;
    background-color: #000;
    position: absolute;
    transition: all .4s;
    box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.7);
    top: 50%; }
    .projects__card--left {
      left: 0;
      transform: translateY(-50%) scale(0.5); }
      .projects__card--left-out {
        left: -45%;
        transform: translateY(-50%) scale(0.5); }
    .projects__card--main {
      left: 50%;
      transform: translateY(-50%) translateX(-50%) scale(1); }
    .projects__card--right {
      left: 100%;
      transform: translateY(-50%) translateX(-104%) scale(0.5); }
      .projects__card--right-out {
        left: 125%;
        transform: translateY(-50%) scale(0.5); }

.section-about {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  transition: all 1s;
  top: 0;
  left: 100vw;
  font-size: 2rem;
  background-color: #8b0000;
  color: #000; }

.skills__tech, .skills__soft {
  display: inline-block;
  list-style: none; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0; }

body {
  position: relative;
  font-size: 10px;
  color: #8b0000;
  overflow: hidden; }

@keyframes animate-logo-elem-1 {
  0% {
    transform: translateX(-90px);
    opacity: 0; }
  100% {
    transform: translateX(15px);
    opacity: 1; } }

@keyframes animate-logo-elem-2 {
  0% {
    transform: translateX(160px); }
  100% {
    transform: translateX(65px); } }

@keyframes animate-logo-elem-3 {
  0% {
    transform: translateX(225px) translateY(-115px);
    opacity: 0; }
  100% {
    transform: translateX(225px) translateY(0px);
    opacity: 1; } }

@keyframes animate-logo-elem-2-rotate {
  0% {
    transform: translateX(330px) rotate(180deg); }
  100% {
    transform: translateX(485px) rotate(180deg); } }

@keyframes animate-logo-elem-4 {
  0% {
    transform: translateX(240px); }
  100% {
    transform: translateX(382px); } }

@keyframes animate-logo-elem-5 {
  0% {
    transform: translate(55px, 120px);
    opacity: 0; }
  100% {
    transform: translate(55px, 55px);
    opacity: 1; } }

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 568px;
  display: inline-block; }
  .logo__element {
    height: 160px;
    display: inline-block;
    position: relative; }
    .logo__element--1 {
      animation: animate-logo-elem-1 .4s .7s ease-in-out backwards;
      transform: translateX(15px); }
      .logo__element--1::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        display: inline-block;
        content: '';
        width: 160px;
        border-top: 10px solid #8b0000; }
    .logo__element--2 {
      animation: animate-logo-elem-2 .5s .2s ease-in-out backwards;
      transform: translateX(65px); }
      .logo__element--2::after, .logo__element--2::before {
        position: absolute;
        left: 50%;
        display: inline-block;
        content: '';
        width: 7.2rem;
        border-top: 15px solid #8b0000; }
      .logo__element--2::after {
        top: 73%;
        transform: translate(-50%, -50%) rotate(45deg); }
      .logo__element--2::before {
        top: 27%;
        transform: translate(-50%, -50%) rotate(-45deg); }
      .logo__element--2--rotate {
        animation: animate-logo-elem-2-rotate .5s .2s ease-in-out backwards;
        transform: translateX(485px) rotate(180deg); }
        .logo__element--2--rotate::after, .logo__element--2--rotate::before {
          border-top: 15px solid #000; }
    .logo__element--3 {
      animation: animate-logo-elem-3 .4s .7s ease-in-out backwards;
      transform: translateX(225px);
      animation: name duration timing-function delay iteration-count direction fill-mode; }
      .logo__element--3::after {
        display: inline-block;
        content: 'haled';
        font-family: 'Gabriela', serif;
        letter-spacing: 27px;
        font-size: 59px;
        background-image: linear-gradient(to right, #8b0000, #000);
        color: transparent;
        -webkit-background-clip: text;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
    .logo__element--4 {
      animation: animate-logo-elem-4 .5s .2s ease-in-out backwards;
      transform: translateX(382px); }
      .logo__element--4::after {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(297deg);
        display: inline-block;
        width: 176px;
        content: '';
        border-top: 10px solid #000; }
    .logo__element--5 {
      animation: animate-logo-elem-5 .4s .7s ease-in-out backwards;
      transform: translate(55px, 55px); }
      .logo__element--5::after {
        display: inline-block;
        content: 'Osama';
        font-family: 'Gabriela', serif;
        letter-spacing: 27px;
        font-size: 59px;
        background-image: linear-gradient(to right, #000, #8b0000);
        color: transparent;
        -webkit-background-clip: text; }

.navigation-btn {
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 50%;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  transition: all .4s; }
  .navigation-btn::after, .navigation-btn::before {
    display: inline-block;
    content: '';
    width: 2rem;
    border-top: 5px solid #000;
    position: absolute;
    left: 50%; }
  .navigation-btn::before {
    top: 35.5%;
    transform: translateX(-50%) rotate(42deg); }
  .navigation-btn::after {
    bottom: 35.5%;
    transform: translateX(-50%) rotate(-42deg); }
  .navigation-btn:focus {
    outline: none; }
  .navigation-btn:active, .navigation-btn:hover {
    background-color: #000; }
    .navigation-btn:active::after, .navigation-btn:active::before, .navigation-btn:hover::after, .navigation-btn:hover::before {
      border-top: 5px solid #8b0000; }
  .navigation-btn--right {
    transform: scale(0.65) translateY(-50%) rotate(0deg);
    right: 1rem; }
    .navigation-btn--right:hover {
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.7);
      transform: scale(0.65) translateY(-65%) rotate(0deg); }
    .navigation-btn--right:active {
      transform: scale(0.65) translateY(-54%) rotate(0deg);
      box-shadow: 0 0.75rem 4rem rgba(0, 0, 0, 0.7); }
  .navigation-btn--left {
    transform: scale(0.65) translateY(-50%) rotate(180deg);
    left: 1rem; }
    .navigation-btn--left:hover {
      box-shadow: 0 -1.5rem 4rem rgba(0, 0, 0, 0.7);
      transform: scale(0.65) translateY(-65%) rotate(180deg); }
    .navigation-btn--left:active {
      transform: scale(0.65) translateY(-54%) rotate(180deg);
      box-shadow: 0 -0.75rem 4rem rgba(0, 0, 0, 0.7); }
