.header-section {
  height: 100vh;
  position: relative; }

.position-hidden {
  left: -3rem; }

.position-shown {
  left: 0rem; }

.connect {
  width: 18rem;
  position: absolute;
  top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all .4s; }
  .connect-list {
    list-style: none; }
    .connect-list__btn {
      width: 16rem;
      text-align: center;
      display: inline-block;
      font-size: 2rem;
      align-self: flex-start; }
    .connect-list__link:link, .connect-list__link:visited {
      color: #8b0000; }
    .connect-list__icon {
      font-size: 2.85rem;
      transition: all .2s; }
      .connect-list__icon:hover {
        transform: translateX(10px) scale(1.3); }
        .connect-list__icon:hover.fa-facebook-square {
          color: #3b5998; }
        .connect-list__icon:hover.fa-twitter-square {
          color: #1da1f2; }
        .connect-list__icon:hover.fa-linkedin {
          color: #0a66c2; }
        .connect-list__icon:hover.fa-github-square {
          color: #777; }
        .connect-list__icon:hover.fa-instagram-square {
          color: #c32aa3; }
      .connect-list__icon:active {
        transform: translateX(8px) scale(1.3); }

.logo-container {
  text-align: center; }
  .logo-container .logo {
    display: inline-block; }

.section-projects {
  background-color: #8b0000;
  height: 100vh;
  position: relative;
  overflow: hidden; }

.project__card {
  border-radius: 8px;
  display: inline-block;
  height: 16rem;
  width: 22rem;
  margin: 5px;
  background-color: #000;
  position: absolute;
  transition: all .4s;
  box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.7);
  top: 50%;
  /*        &:hover{

        }*/ }

.project__btn-nav {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  position: absolute;
  border: none;
  background-color: #8b0000;
  border-radius: 50%;
  transform: scale(0.65);
  transition: all .4s; }
  .project__btn-nav::after, .project__btn-nav::before {
    display: inline-block;
    content: '';
    width: 2rem;
    border-top: 5px solid #000;
    position: absolute;
    left: 50%; }
  .project__btn-nav:focus {
    outline: none; }
  .project__btn-nav:active, .project__btn-nav:hover {
    background-color: #000; }
    .project__btn-nav:active::after, .project__btn-nav:active::before, .project__btn-nav:hover::after, .project__btn-nav:hover::before {
      border-top: 5px solid #8b0000; }
  .project__btn-nav:hover {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.7);
    transform: scale(0.65) translateY(-6px); }
  .project__btn-nav:active {
    transform: scale(0.65) translateY(-3px);
    box-shadow: 0 0.75rem 4rem rgba(0, 0, 0, 0.7); }
  .project__btn-nav--right {
    top: 5rem;
    left: 5rem; }
    .project__btn-nav--right::before {
      top: 35.5%;
      transform: translateX(-50%) rotate(42deg); }
    .project__btn-nav--right::after {
      bottom: 35.5%;
      transform: translateX(-50%) rotate(-42deg); }
  .project__btn-nav--left {
    bottom: 5rem;
    right: 5rem; }
    .project__btn-nav--left::before {
      top: 35.5%;
      transform: translateX(-50%) rotate(-42deg); }
    .project__btn-nav--left::after {
      bottom: 35.5%;
      transform: translateX(-50%) rotate(42deg); }

.position-left {
  left: 0;
  transform: translateY(-50%) scale(0.5); }
  .position-left-out {
    left: -25%;
    transform: translateY(-50%) scale(0.5); }

.position-main {
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(1); }

.position-right {
  left: 100%;
  transform: translateY(-50%) translateX(-100%) scale(0.5); }
  .position-right-out {
    left: 125%;
    transform: translateY(-50%) scale(0.5); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

body {
  font-size: 10px;
  color: #8b0000; }
