.section-about{
    @include section-setup;
    top: 0;
    left: 100vw;
    font-size: 2rem;
    background-color: $color-dark-red;
    color: $color-black;
} 
.skills{
    &__tech , &__soft{
        display: inline-block;
        list-style: none ;
    }
    &__tech{

    }
    &__soft{

    }
}