.section-projects{
    background-color: $color-dark-red;
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
    transition: all 6s;
    top: 0;
    left: 100vw;
}
.projects{
    position: absolute;
    bottom: 0;
    height: 70vh;
    width: 100vw;
    &__card{
        border-radius: 8px; 
        display: inline-block;
        height: 16rem;
        width: 22rem;
        margin: 5px;
        background-color: $color-black;
        position: absolute;
        transition: all .4s;
        box-shadow: 0rem 1rem 3rem rgba($color: $color-black, $alpha: .7) ;
        top:50%;
        &--left{          
            left: 0;        
            transform: translateY(-50%) scale(.5);
            &-out{
                left:-45%;
                transform: translateY(-50%) scale(.5);
            }
        }
        &--main{          
            left: 50%;      
            transform: translateY(-50%) translateX( -50%) scale(1);
        }
        &--right{         
            left: 100%;
            transform: translateY(-50%) translateX(-104%)  scale(.5);
            &-out{
                left: 125%;
                transform: translateY( -50%) scale(.5);
            } 
        }    
    }
}
