$color-primary : #545454;
$color-primary-light: #666666;
$color-primary-dark: #383838;

$color-secondary : #295227;
$color-secondary-light: #387036; 
$color-secondary-dark: #1d3b1c;

$color-white: #fff; 
$color-black: #000; 

$color-facebook: #3b5998;
$color-twitter:  #1da1f2;
$color-instagram:  #c32aa3 ;
$color-github: #777;
$color-linkedin: #0a66c2;