.navigation-btn{
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    transition: all .4s;
    &::after,&::before{
        display: inline-block;
        content: '';
        width: 2rem;
        border-top: 5px solid $color-black;
        position: absolute;
        left: 50%;
    }
    &::before{
        top: 35.5%;
        transform: translateX(-50%) rotate(42deg);
    }
    &::after{
        bottom: 35.5%;
        transform: translateX(-50%) rotate(-42deg);
    } 

    &:focus{outline: none;}
    &:active,&:hover{
        background-color:  $color-black;
        &::after,&::before{
            border-top: 5px solid $color-dark-red;
        }
    }
    &--right{
        transform: scale(.65) translateY(-50%) rotate(0deg);
        right: 1rem;
        &:hover{
            box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: .7);
            transform: scale(.65) translateY(-65%) rotate(0deg);
        }
        &:active{
            transform: scale(.65) translateY(-54%) rotate(0deg);
            box-shadow: 0 .75rem 4rem rgba($color: $color-black, $alpha: .7);
        }
    }
    &--left{
        transform: scale(.65) translateY(-50%) rotate(180deg);
        left: 1rem;
        &:hover{
            box-shadow: 0 -1.5rem 4rem rgba($color: $color-black, $alpha: .7);
            transform: scale(.65) translateY(-65%) rotate(180deg);
        }
        &:active{
            transform: scale(.65) translateY(-54%) rotate(180deg);
            box-shadow: 0 -.75rem 4rem rgba($color: $color-black, $alpha: .7);
        }    
    }
}

